[user]
	name = Maxwell Barvian
	email = mbarvian@ecd-network.com
[alias]
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
  up = pull --rebase
  punch = blame
  pish = push
[color]
  diff = auto
  status = auto
  branch = auto
[core]
	excludesfile = /Users/maxwell/.gitignore
[apply]
  whitespace = nowarn
[merge]
  tool = kdiff3
[difftool]
  prompt = false
[push]
  default = current
[credential]
  helper = osxkeychain
[filter "media"]
	required = true
	clean = git media clean %f
	smudge = git media smudge %f
[filter "hawser"]
	clean = git hawser clean %f
	smudge = git hawser smudge %f
	required = true
[filter "lfs"]
	clean = git lfs clean %f
	smudge = git lfs smudge %f
	required = true
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[commit]
	template = /Users/maxwell/.stCommitMsg
